.addCollaboratorDialogSubtitle {
  margin-bottom: 20px;
}

.addCollaboratorTableContainer {
  margin-top: 24px;
  margin-left: -24px;
  margin-right: -24px;
}

.searchInputContainer {
  margin-bottom: 16px;
}

.textCapitalize {
  text-transform: capitalize;
}
